<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MFC6W65');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link
      rel="stylesheet"
      href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script src="//cdn.split.io/sdk/split-browser-0.4.1.full.min.js"></script>
    <script>
    var factory = splitio.SplitFactory({
      core: {
        authorizationKey: 'vvtehm93rm3i5nvivp4s5571v0o2rrc98u6d',
        // key represents your internal user id, or the account id that
        // the user belongs to.
        // This could also be a cookie you generate for anonymous users
        key: 'key'
      }
    });
    // And get the client instance you'll use
    var client = factory.client();
    client.on
    dataLayer.push({ split_client: client });
    client.on(client.Event.SDK_READY, function() {
  var treatment = client.getTreatment("Demo_TL");
  if (treatment == "on") {
      // insert code here to show on treatment
      console.log('on!!!')
  } else if (treatment == "off") {
      // insert code here to show off treatment
  } else {
      // insert your control treatment code here
  }
});
    </script>
  {%- feed_meta -%}
  {%- include custom-head.html -%}

</head>
